@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root{
    --cor-primaria:#005DCE;
    --cor-secundaria:#FFFFFF;
    --cor-terciaria:#32DC57;
    --cor-texto:#000000;
    --cor-card:#EDEDED;
    --cor-input:#D9D9D9;
    --cor--cinza:#8d8d8d;
    --cor--body:#f5f5f5;
    --fonte-primaria:'Heebo',sans-serif;
    --fonte-secundaria:'Open Sans',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color:var(--cor--body);
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
}
.topo{
    width: 100%;
    height: 230px;
    background: var(--cor-primaria);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-secundaria);
    gap: 8px;
}
.logo{
    width: 55px;
    height: 55px;
    background-color: var(--cor-secundaria);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60px;
}
.data{
    font-size: 12px;
    font-family: var(--fonte-secundaria);
    opacity: 0.9;
}
.conteudo h1{
    font-size: 26px;
    font-weight: 500;
}
.reserva{
    width: 170px;
    height: 75px;
    margin-top: 8px;
    background: rgba(255,255,255,0.18);
    border-radius: 14px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reserva p{
    font-size: 12px;
    font-family: var(--fonte-secundaria);
}
.reserva span{
    font-size: 30px;
    font-weight: 700;
}
.principal{
    flex: 1;
    padding: 25px 20px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.botoes{
    display: flex;
    gap: 18px;
}
.botao,
.botao_link{
    width: 185px;
    height: 150px;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    box-shadow:0 4px 0 var(--cor-primaria), 0 6px 12px rgba(0,0,0,0.12);
    transition: 0.2s ease;
    text-decoration: none;
}
.botao:hover,.botao_link:hover{
    transform: translateY(-3px);
}
.botao:active,.botao_link:active{
    transform: translateY(3px);
    box-shadow: 0 1px 0 var(--cor-primaria), 0 3px 6px rgba(0,0,0,0.10);
}
.circulo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 300;
}

.botao p,.botao_link p{
    text-align: center;
    font-size: 18px;
    font-family: var(--fonte-secundaria);
    color: var(--cor-texto);
}
.proximos{
    width: 100%;
    max-width: 430px;
    background-color: var(--cor-secundaria);
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-bottom: 4px solid var(--cor-primaria);
}
.proximos h2{
    font-size: 16px;
    margin-bottom: 18px;
    color: #333;
}
.lista{
    width: 100%;
    background-color: var(--cor-card);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
     border-bottom: 4px solid var(--cor-input);
}
.imagem_computador{
    width: 38px;
    height: 38px;
    background-color: var(--cor-secundaria);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem_computador img{
    width: 18px;
}
.texto_lista h3{
    font-size: 14px;
    color: var(--cor-texto);
}
.texto_lista p{
    font-size: 12px;
    color:var(--cor--cinza);
    font-family: var(--fonte-secundaria);
}
.rodape{
    width: 100%;
    height: 75px;
    background-color: var(--cor-secundaria);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ddd;
}
.item_rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
    color: var(--cor--cinza);
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}
.item_rodape img{
    width: 26px;
}
.item_rodape p{
    font-family: var(--fonte-secundaria);
}
@media (max-width:480px){
    .topo{
        height: 220px;
    }
    .conteudo h1{
        font-size: 23px;
    }
    .botoes{
        width: 100%;
        justify-content: center;
    }
    .botao,.botao_link{
        width: 145px;
        height: 115px;
}
    .proximos{
        width: 100%;
    }
}
.icone_verde{
    width: 70px;
    height: 70px;
    background-color: var(--cor-terciaria);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.agenda_icon{
    width: 30px;
    filter: brightness(0) invert(1);
}

.check_icon{
    width: 12px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img_fundo{
    width: 26px;
}
.img_sobreposicao{
    width: 14px !important;
    position: absolute;
    top:8px ;
    left: 8px;
} 
